{% extends 'base.html' %}

{% block content %}
<div class="container py-3">
    <div class="text-center mb-3">
        <h1 class="mb-4">Добавление фильма</h1>
    </div>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('admin_films.add_film') }}">
        <div class="row mb-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card shadow-sm border-1 border-danger">
                    <div class="mb-3">
                        <label for="poster">Постер</label>
                        <input class="form-control" type="file" name="poster" id="poster">
                    </div>
                    <div class="mb-3 background-preview p-5 rounded d-flex align-items-center justify-content-center">
                        <img src="#" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="nameFilm" class="form-label">Название</label>
                    <input class="form-control bg-color-red" id="nameFilm" name="nameFilm" value="{{ request.form.nameFilm }}" required>
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Жанр</label>
                    <select name="genre" id="genre" class="form-select">
                        {% for genre in genres %}
                          <option value="{{ genre.name_genre}}" {% if genre.name_genre == request.form.genre %}selected{% endif %}>{{ genre.name_genre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="director" class="form-label">Режиссер</label>
                    <input type="text" class="form-control bg-color-red" id="director" name="director" value="{{ request.form.director }}" required>
                </div>
                <h4 class="mt-4">Описание фильма</h4>
                <textarea class="form-control" id="desc_film" name="desc_film" rows="5" required></textarea>
                <h3 class="mt-4">Кадры</h3>
                <div class="row tech-cards text-center px-2">
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <div class="mb-3">
                            <label for="still1">Кадр 1</label>
                            <input class="form-control" type="file" name="still1" id="still1">
                        </div>
                        <div class="mb-3 background-preview p-5 rounded d-flex align-items-center justify-content-center">
                            <img id="still-img1" src="#" class="img-fluid img-still" alt="">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-12 mb-3">
                        <div class="mb-3">
                            <label for="still2">Кадр 2</label>
                            <input class="form-control" type="file" name="still2" id="still2">
                        </div>
                        <div class="mb-3 background-preview p-5 rounded d-flex align-items-center justify-content-center">
                            <img id="still-img2" src="#" class="img-fluid img-still" alt="">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-12 mb-3">
                        <div class="mb-3">
                            <label for="still3">Кадр 3</label>
                            <input class="form-control" type="file" name="still3" id="still3">
                        </div>
                        <div class="mb-3 background-preview p-5 rounded d-flex align-items-center justify-content-center">
                            <img id="still-img3" src="#" class="img-fluid img-still" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-color">Сохранить</button>
        </div>
    </form>
</div>

{% endblock %}